[submodule "cpu_experiments/src/imgui"]
	path = cpu_experiments/src/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "external/span-lite"]
	path = external/span-lite
	url = git@github.com:martinmoene/span-lite.git
